@use "sideleft";
@use "sidecenter";
@use "sideright";
@use "../../lib/mixins";
@use "../../lib/colors";
@use "../../lib/material";

.overview {
  transition: background-color 160ms ease;
  background-color: rgba(0, 0, 0, 0.2);
}

.overview-hide {
  background-color: rgba(0, 0, 0, 0);
}

@mixin group-padding {
  padding: 0.341rem;
}

.sidebar-group {
  @include mixins.normal-rounding;
  @include group-padding;
  background-color: colors.$t_surface;
}

.sidebar-group-invisible {
  @include group-padding;
}

.sidebar-scrollbar {
    trough {
        @include mixins.full-rounding;
        min-width: 0.545rem;
        background-color: transparent;
    }

    slider {
        @include mixins.full-rounding;
        min-width: 0.273rem;
        min-height: 2.045rem;
        background-color: colors.$t_onSurfaceVariant;
    }

    slider:hover {
        background-color: mix(colors.$t_onSurfaceVariant, material.$onSurfaceVariant, 80%);
    }

    slider:active {
        background-color: mix(material.$onSurfaceVariant, material.$surfaceVariant, 50%);
    }
}
