@use "../../lib/mixins";
@use "../../lib/notification";

$spacing: 9px;

.notifications {
  min-width: 450px;

  .header {
    padding-left: 0.3rem;
    margin-bottom: $spacing;

    label {
      font-size: 1.2rem;
    }

    button {
      padding: $spacing / 2 $spacing;

      label {
        font-size: 1.2rem;
      }
    }
  }

  .notification-scrollable {
    @include mixins.scrollbar;
    
    scrollbar, scrollbar:hover {
      border-radius: 9px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .notification {
      @include notification.notification;

      > box {
        margin: $spacing / 2 0;
        padding: $spacing;
      }
    }
  }

  .placeholder {
    image {
      font-size: 6rem;
    }

    label {
      font-size: 1.2rem;
    }
  }
}
