@use "../../lib/colors";
@use "../../lib/material";
@use "../../lib/mixins";
@use "../../lib/notification";

.notification-list {
  margin-bottom: 1rem;

  .notification-closeall-btn {
    @include notification.notification-rounding;
    padding: 0.341rem;

    &:hover {
      background-color: colors.$hovercolor;
    }

    &:active {
      background-color: colors.$activecolor;
    }
  }

  .notification-list-scrollbar {
    trough {
      @include mixins.full-rounding;
      min-width: 0.545rem;
      background-color: transparent;
    }

    slider {
      @include mixins.full-rounding;
      min-width: 0.273rem;
      min-height: 2.045rem;
      background-color: colors.$t_onSurfaceVariant;
    }

    slider:hover {
      background-color: mix(
        colors.$t_onSurfaceVariant,
        material.$onSurfaceVariant,
        80%
      );
    }

    slider:active {
      background-color: mix(
        material.$onSurfaceVariant,
        material.$surfaceVariant,
        50%
      );
    }
  }
}
