@use "../../lib/mixins";
@use "../../lib/colors";
@use "../../lib/material";

$spacing: 9px;
$radii: 7px;

.sidebar-left {
    @include mixins.menu_decel;
    @include mixins.small-rounding;
    @include mixins.elevation-border;
    @include mixins.elevation2;
    min-width: 27.818rem;
    background-color: colors.$t_background;
    padding: 1.023rem;
}

.overview-hide .sidebar-left {
  @include mixins.menu_accel;
  margin-left: -30.682rem;
}

.volume {
  button {
    @include mixins.small-rounding;
    @include mixins.menu_decel;
    padding: 8px;
    color: material.$onSurface;

    &:hover, &:active {
      background-color: mix(colors.$t_surfaceVariant, material.$onSurfaceVariant, 95%);
      color: mix(material.$onSurfaceVariant, material.$surfaceVariant, 95%);
    }
  }

  separator {
    background-color: material.$surfaceVariant;
  }

  scale {
    min-height: 0.955rem;
    min-width: 0.068rem;
    border-radius: 10rem;
    margin: 0 0.25rem;

    trough {
      min-height: 0.954rem;
      min-width: 0.068rem;
      border-radius: 10rem;
      background-color: material.$secondaryContainer;
    }

    highlight {
      min-height: 0.68rem;
      min-width: 0.68rem;
      margin: 0 0.137rem;
      border-radius: 10rem;
      background-color: material.$onSecondaryContainer;
    }

    &:hover {
      trough {
        background-color: colors.$hovercolor;
      }
    }

    &.app-mixer-slider {
      margin: 0.25rem 0;
    }
  }

  .mixer-item {
    padding: 4px;
  }

  .menu {
    @include mixins.small-rounding;
    color: material.$onSurface;
    background-color: colors.$t_surfaceVariant;
    padding: 8px;

    .title {
      padding-left: 8px;
    }
  }
}
