.bar {
  padding: $spacing / 2 $spacing;

  @if $bar_style == "normal" {
    background-color: rgba($bg_color, $bg_opacity);
  }

  .systray {
    button {
      all: unset;
    }
  }

  .workspaces {
    > * {
      padding: 0;
    }

    .eventbox {
      transition: $transition;

      box.inner {
        transition: $transition / 2;
        padding: 8px 0;
        border-radius: $radii;
      }

      &:hover box.inner {
        background-color: transparentize($fg_color, 0.9);
      }
    }

    button {
      all: unset;

      .indicator {
        font-size: 0;
        min-width: 6px;
        min-height: 6px;
        border-radius: $radii * 0.6;
        border: $border;
        margin: 0 $spacing / 2;
        transition: $transition / 2;
        background-color: transparentize($fg_color, 0.4);
      }

      &:first-child .indicator {
        margin-left: $spacing;
      }

      &:last-child .indicator {
        margin-right: $spacing;
      }

      &:hover .indicator {
        box-shadow: inset 0 0 0 10px transparentize($fg_color, 0.8);
      }

      &.active .indicator, &:active .indicator {
        background-color: transparentize($fg_color, 0.2);
      }

      &.focused .indicator {
        background-color: $accent;
      }

      &.active .indicator, &.focused .indicator {
        min-height: 10px;
        min-width: 28px;
      }
    }
  }

  .clock {
    font-size: 0.85rem;
    font-weight: 500;
  }
}
